<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <div class="logo">Portfolio CMS</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
    </div>
</nav>

<section class="page-section">

    <div class="card admin-card">

        <h1>Add New Project</h1>

        <form action="/admin/add" method="POST">

            <input
                type="text"
                name="title"
                placeholder="Project Title"
                required
            >

            <textarea
                name="description"
                placeholder="Project Description"
                required
            ></textarea>

            <input
                type="text"
                name="githubLink"
                placeholder="GitHub Link"
            >

            <button type="submit" class="btn">
                Add Project
            </button>

        </form>

    </div>

</section>
<footer>
    <p>© 2026 Jonsia Cejohn | Portfolio Website</p>
</footer>
</body>
</html>