<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <div class="logo">Jonsia</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<section class="page-section">

    <div class="card contact-card">

        <h1>Contact Me</h1>

        <p>📧 Email: jonsiacejohn@gmail.com</p>

        <p>💼 LinkedIn: https://www.linkedin.com/in/jonsia-cejohn </p>

        <p>💻 GitHub: https://github.com/jo-123456 </p>

        <p>📍 Kerala, India</p>

    </div>

</section>
<footer>
    <p>© 2026 Jonsia Cejohn | Portfolio Website</p>
</footer>
</body>
</html>