<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <div class="logo">Jonsia</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<section class="page-section">

    <div class="card">

        <h1>Technical Skills</h1>

        <div class="skill">
            <p>HTML</p>
            <div class="skill-bar"><div class="skill-fill html"></div></div>
        </div>

        <div class="skill">
            <p>CSS</p>
            <div class="skill-bar"><div class="skill-fill css"></div></div>
        </div>

        <div class="skill">
            <p>JavaScript</p>
            <div class="skill-bar"><div class="skill-fill js"></div></div>
        </div>

        <div class="skill">
            <p>Python</p>
            <div class="skill-bar"><div class="skill-fill python"></div></div>
        </div>

        <div class="skill">
            <p>MongoDB</p>
            <div class="skill-bar"><div class="skill-fill mongo"></div></div>
        </div>

        <div class="skill">
            <p>Git & GitHub</p>
            <div class="skill-bar"><div class="skill-fill git"></div></div>
        </div>

    </div>

</section>
<footer>
    <p>© 2026 Jonsia Cejohn | Portfolio Website</p>
</footer>
</body>
</html>